In [2]:
import pandas as pd

In [18]:
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'John', 'Charlie'], 
        'Age': [25, 30, 22, 35, 25, 28], 
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Male'], 
        'Salary': [50000, 55000, 40000, 70000, 50000, 48000]}

df = pd.DataFrame(data)
# Find duplicate rows
duplicates = df[df.duplicated()]
print(duplicates)
# Find duplicates based on 'Name' and 'Age' columns
duplicates_by_columns = df[df.duplicated(subset=['Name', 'Age'])]
print(duplicates_by_columns)
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

   Name  Age Gender  Salary
4  John   25   Male   50000
   Name  Age Gender  Salary
4  John   25   Male   50000
      Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
5  Charlie   28    Male   48000

In [24]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Alice', 'David'],
    'Age': [25, 30, 25, 40],
    'City': ['NY', 'LA', 'NY', 'Chicago']
})

# Keep the last occurrence of duplicates
result = df.drop_duplicates(keep='last')
print(result)

# Drop all duplicates
result = df.drop_duplicates(keep=False)
print(result)
# Modify the DataFrame in place
df.drop_duplicates(inplace=True)
print(df)

    Name  Age     City
1    Bob   30       LA
2  Alice   25       NY
3  David   40  Chicago
    Name  Age     City
1    Bob   30       LA
3  David   40  Chicago
    Name  Age     City
0  Alice   25       NY
1    Bob   30       LA
3  David   40  Chicago